.title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;

}
p.fun-red {
    color: red;
}
p.fun-blue {
    color: blue;
}
p.fun-green {
    color: green;
}
p.text-big {
    font-size: 24px;
}
p.text-tiny {
    font-size: 10px;
}
p.text-center {
    text-align: center;
}
p.bold {
    font-weight: bold;
}
p.fontstyle {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p.multiple {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: orange;
}
.styledFont {
    color: purple;
}
#styledImage {
    border: 5px;
    border-style: ridge;
    border-color: palevioletred;
}